@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #201d2b;
}

.root {
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
}

.record-none, .record-loss, .record-gain {
    position: relative;
    width: 1px;
    flex: none;
}

.record-none {
    height: 100%;
}

.record-loss {
    background-color: red;
}

.record-gain {
    background-color: green;
}
